.form-control.UI-SEARCH.UI-NAV-INPUT{z-index:0;}
.nav-search-in{display:none;}
#myAffix.navbar{z-index:1000;}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

#sns_content .block.block-compare{
	margin: 8px 24px 8px 6px;
}

.bottom-pager span.sort_by_label{display:none;}
.bottom-pager span.limit_label{display:none;}
.top-bar .pages{display:none;}
.bottom-pager .toolbar{display:none;}
.category-products .top-bar .toolbar .float-right a.btn_asc,.category-products .top-bar .toolbar .float-right a.btn_desc{text-decoration:none;}
.pddetail-price .product-price{float:left !important;}
.product-detail .more-views{padding:10px;}
.hide-me{display:none;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.product{min-height:316px !important}
}
body .jqTransformSelectWrapper .jqTransformHidden{display:none}
#sns_ajaxwrap #sns_ajaxinner #ajax_process{background: #000 none repeat scroll 0 0;
    box-shadow: 0 0 5px #000;
    left: 50%;
    margin: -15px 0 0 -90px;
    opacity: 0.7;
    padding: 15px 0 10px;
    position: absolute;
    text-align: center;
    width: 180px;}
#checkoutSteps{list-style:outside none none;}
#checkoutSteps ul, #checkoutSteps ol{
	list-style: outside none none;
    margin: 0;
    padding: 0;
}
.no-display{
	display:none;
}

#checkout-payment-method-load .radio-inline > label{
	margin-right:18px;
}


	
#sns_ajaxfilter{display:block;height:100%;left:0;position:fixed;top:0;width:100%;z-index:10000000;}
#sns_ajaxfilter .bg{background:none repeat scroll 0 0 #000000;height:100%;opacity:0.2;filter:alpha(opacity=20);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);position:absolute;top:0;width:100%;}
#sns_ajaxfilter div.process{background:#000;left:50%;margin-left:-90px;margin-top:-15px;padding-bottom:10px;padding-top:15px;position:absolute;text-align:center;top:50%;width:180px;z-index:10;box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;-webkit-box-shadow:0 0 5px #000;-o-box-shadow:0 0 5px #000;opacity:0.7;filter:alpha(opacity=70);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);}
#sns_ajaxfilter div.process div{color:#FFF;margin-top:8px;}

.searchautocomplete .searchautocomplete-loader{position:absolute;top:11px;right:57px;width:16px;height:16px;background:url('../images/mirasvit/loader.gif');}

.modal-content{border:0px !important;}

/************theme css***********/
.block .block-title{font-size:150%;text-transform:uppercase;padding:20px 15px;position:relative;border-bottom:1px solid #ddd;}
.clearer::after, .header-container::after, .header-container .top-container::after, .header::after, .header .quick-access::after, #nav::after, .main::after, .footer::after, .footer-container .bottom-container::after, .col-main::after, .col2-set::after, .col3-set::after, .col3-layout .product-options-bottom .price-box::after, .col4-set::after, .search-autocomplete li::after, .block .actions::after, .block li.item::after, .block-poll li::after, .block-layered-nav .currently li::after, .page-title::after, .products-grid::after, .products-list li.item::after, .box-account .box-head::after, .dashboard .box .box-title::after, .box-reviews li.item::after, .box-tags li.item::after, .pager::after, .sorter::after, .ratings::after, .add-to-box::after, .add-to-cart::after, .product-essential::after, .product-collateral::after, .product-view .product-img-box .more-views ul::after, .product-view .box-tags .form-add::after, .product-view .product-shop .short-description::after, .product-view .box-description::after, .product-options .options-list li::after, #confirmbox .product-options-bottom::after, .product-review::after, .cart-collaterals::after, .cart .crosssell li.item::after, .opc .step-title::after, .checkout-progress::after, .multiple-checkout .place-order::after, .group-select li::after, .form-list li::after, .form-list .field::after, .buttons-set::after, .page-print .print-head::after, .advanced-search-summary::after, .gift-messages-form .item::after, .send-friend .form-list li p::after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;overflow:hidden;}
.page-title h1{font-size:180%;margin:0px 0 10px;text-transform:uppercase;color:#222;}
.data-table{border:1px solid #e9e9e9;border-collapse:collapse;width:100%;}
.data-table thead tr td,.data-table thead tr th{background:#efefef;border-bottom:1px solid #e9e9e9;border-right:medium none;border-top:1px solid #e9e9e9;padding:10px 10px;text-transform:uppercase;white-space:nowrap;}
.data-table tbody th{text-align:left;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;padding:8px;}
.data-table tbody td{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;padding:8px;}
.data-table tbody td.label{vertical-align:middle;}
.data-table tbody td a.product-image{display:block;}
.data-table tbody td button{min-width:110px;margin-bottom:10px;}
.data-table tfoot td{padding:15px 20px;border-bottom:1px solid #e9e9e9;border-top:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
.data-table input.input-text{border:1px solid #e9e9e9;}
.data-table input.input-text:focus{border-color:#cdcdcd;}
.box-account .box-head{display:block;}
.box-head h2{font-size:125%;font-weight:bold;margin:0 0 10px;}
.box .box-title{position:relative;margin-bottom:10px;padding:5px 0;border-bottom:1px solid #e9e9e9;}
.box .box-title h2,.box .box-title h3{font-size:110%;margin:0 0;font-weight:bold;text-transform:none;}
.box .box-title a{position:absolute;right:0px;top:5px;}
.my-account .title-buttons{position:relative;margin-bottom:20px;}
.my-account .pager .amount{float:left;margin:0 0;}
.my-account .pager .limiter{float:right;}
.my-account .pager .limiter label{float:left;margin:0 10px 0 0;}
.my-account .pager .limiter select{float:left;height:24px;line-height:24px;margin:0 10px 0 0;padding:2px;width:80px;}
.col2-set h2{font-size:125%;}.col2-set h3{font-size:120%;}.col2-set h4{font-size:100%;}.col2-set .col-1{width:48.5%;float:left;}.col2-set .col-2{width:48.5%;float:right;}.col2-set .content{padding:15px;border:1px solid #ddd;height:270px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}.col2-set .buttons-set{border:1px solid #e9e9e9;border-top:none;padding:20px;}.col2-set .buttons-set:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;overflow:hidden;}.col3-set .col-1{width:32%;float:left;}.col3-set .col-2{width:32%;float:left;margin-left:2%;}.col3-set .col-3{width:32%;float:right;}.box-content{padding:0 20px;}.box-content h4{font-size:110%;}.box-account > ol{list-style:none;margin:10px 0 10px 15px;}.box-account > ol li .number{float:left;margin:0 10px 0 0;}.box-account > ol li .details{width:100%;}.box-account > ol li .details .product-name{line-height:18px;margin:0 0;}.box-account > ol li .details .ratings{margin:6px 0;}.box-account > ol li .details .ratings strong{float:left;margin:0 8px 0 0;}.box-account > ol li .details .tags strong{float:left;margin:0 8px 0 0;}.box-account > ol li .details .tags ul{list-style:none;margin:0 0;}.box-account > ol li .details .tags ul li{float:left;margin:0 3px 0 0;}.table-caption{font-size:125%;}#wishlist-table input,#wishlist-table textarea{margin:10px 0;}#wishlist-table textarea{width:100%;}#wishlist-table .add-to-cart-alt{margin-bottom:10px;}.data-table{border:1px solid #e9e9e9;border-collapse:collapse;width:100%;}.data-table thead tr td,.data-table thead tr th{background:#efefef;border-bottom:1px solid #e9e9e9;border-right:medium none;border-top:1px solid #e9e9e9;padding:10px 10px;text-transform:uppercase;white-space:nowrap;}.data-table tbody th{text-align:left;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;padding:8px;}.data-table tbody td{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;padding:8px;}.data-table tbody td.label{vertical-align:middle;}.data-table tbody td a.product-image{display:block;}.data-table tbody td button{min-width:110px;margin-bottom:10px;}.data-table tfoot td{padding:15px 20px;border-bottom:1px solid #e9e9e9;border-top:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}.data-table input.input-text{border:1px solid #e9e9e9;}.data-table input.input-text:focus{border-color:#cdcdcd;}
#my-orders-table tbody td.last{white-space:nowrap;}
.fieldset{border:1px solid #e5e5e5;margin:10px 0 15px;padding:15px;}.fieldset .legend{background:#fff;float:left;font-size:125%;font-weight:bold;margin:-25px 0 0;padding:0 8px;line-height:20px;}.fieldset ul{margin:0 0;list-style:none;}
label em{padding-right:5px;}
.fields .field{float: left;width: 270px;}
.buttons-set .button{float:right;margin:0 0 0 5px;}
#sns_content .block.block-account ul li{margin:3px 0;transition:all 0.2s ease-out 0s;}
#sns_content .block.block-account ul{list-style:outside none none;}
#sns_content .block.block-account ul {list-style: outside none none;margin: 0;padding: 0;}
.block_head_center{text-align:center;position:relative;margin-bottom:15px;}.block_head_center:before{content:'';display:block;border-top:1px solid #ddd;position:absolute;top:50%;left:0;width:100%;}.block_head_center h3{font-size:200%;display:inline-block;vertical-align:middle;margin:0;position:relative;padding:0 15px;z-index:1;background:#fff;margin-bottom:3px;font-weight:300;}
.block_border{border:1px solid #ddd;border-radius:8px;position:relative;margin-top:15px;}
.block_border .block_content{padding:35px 20px 20px 20px;overflow:hidden;}
.block-subscribe .block_content {text-align: center;}
.block-subscribe .block_content .actions{margin-bottom:24px;}
input.input-text{-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:none;box-shadow:none;padding:4px 10px;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;color:#aaa;border-color:#ededed;}input.input-text:focus{border-color:#aeaeae;-webkit-box-shadow:none;box-shadow:none;color:#666;}input.input-text.validation-failed{border-color:#b94a48 !important;}
.block-subscribe .block_content .actions input,.block-subscribe .block_content .actions button{display:inline-block;vertical-align:middle;height:40px;border-radius:8px;border-color:#ddd;}.block-subscribe .block_content .actions input:hover,.block-subscribe .block_content .actions input:active,.block-subscribe .block_content .actions input:focus,.block-subscribe .block_content .actions button:hover,.block-subscribe .block_content .actions button:active,.block-subscribe .block_content .actions button:focus{border-color:#fa0d25;}.block-subscribe .block_content .actions input{width:300px;margin-right:10px;}
input[type="button"], .button, button {color: #666;font-size: 100%;line-height: 17px;text-transform:uppercase;}
input[type="button"]:hover, .button:hover, button:hover {border-color: #fa0d25;color: #fa0d25;}
.notice{color:#31708f;}.messages{padding:0;list-style:none;clear:both;}.messages > li{margin-bottom:10px;}.error-msg,.success-msg,.note-msg,.notice-msg{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;background:#000;}.error-msg h4,.success-msg h4,.note-msg h4,.notice-msg h4{margin-top:0;color:inherit;}.error-msg .alert-link,.success-msg .alert-link,.note-msg .alert-link,.notice-msg .alert-link{font-weight:bold;}.error-msg > p,.error-msg > ul,.success-msg > p,.success-msg > ul,.note-msg > p,.note-msg > ul,.notice-msg > p,.notice-msg > ul{margin-bottom:0;}.error-msg > p + p,.success-msg > p + p,.note-msg > p + p,.notice-msg > p + p{margin-top:5px;}.error-msg{background-color:#f2dede;border-color:#ebccd1;color:#a94442;}.error-msg hr{border-top-color:#e4b9c0;}.error-msg .alert-link{color:#843534;}.success-msg{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d;}.success-msg hr{border-top-color:#c9e2b3;}.success-msg .alert-link{color:#2b542c;}.note-msg,.notice-msg{background-color:#d9edf7;border-color:#bce8f1;color:#31708f;}.note-msg hr,.notice-msg hr{border-top-color:#a6e1ec;}.note-msg .alert-link,.notice-msg .alert-link{color:#245269;}li.notice-msg ul{position:relative;padding:0 0 0 30px;list-style:none;}li.notice-msg ul:before{font-family:FontAwesome;content:"\f06a";font-size:22px;position:absolute;left:0px;top:50%;margin-top:-11px;line-height:22px;}li.error-msg ul{position:relative;padding:0 0 0 30px;list-style:none;}li.error-msg ul:before{font-family:FontAwesome;content:"\f06a";font-size:22px;position:absolute;left:0px;top:50%;margin-top:-11px;line-height:22px;}li.success-msg ul{position:relative;padding:0 0 0 30px;list-style:none;}li.success-msg ul:before{font-family:FontAwesome;content:"\f058";font-size:22px;position:absolute;left:0px;top:50%;margin-top:-11px;line-height:22px;}.global-site-notice{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b;}.global-site-notice h4{margin-top:0;color:inherit;}.global-site-notice .alert-link{font-weight:bold;}.global-site-notice > p,.global-site-notice > ul{margin-bottom:0;}.global-site-notice > p + p{margin-top:5px;}.global-site-notice hr{border-top-color:#f7e1b5;}.global-site-notice .alert-link{color:#66512c;}.global-site-notice p{margin:0;}
#sns-totop{background:#aaa;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;width:45px;bottom:5px;right:5px;height:45px;text-decoration:none;overflow:hidden;z-index:40;position:fixed;display:block;text-align:center;-webkit-transition:all 0.2s ease-out 0s;transition:all 0.2s ease-out 0s;}#sns-totop.hidden-top{bottom:-100px;}#sns-totop:hover{background-color:#fa0d25;}#sns-totop:hover i{color:#fff;}#sns-totop i{font-size:24px;color:#e5e5e5;position:relative;top:8px;}
#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter:before,#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter:after{content:" ";display:table;}#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter:after{clear:both;}#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter li{width:50%;float:left;padding-left:0;}#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter li:before,#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter li:after{display:none;}#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter li .item span{display:inline-block;vertical-align:middle;}#sns_content .block.block-layered-nav dl#narrow-by-list dd ol.color-filter li .color-label{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;width:15px;height:15px;margin-right:10px;border:1px solid #ddd;}
#sns_content .block.block-layered-nav dl#narrow-by-list dd .price .range-wrap{padding:6px 0;}