<?xml version="1.0"?>
<config>
    <modules>
        <Magentoguys_Dailybackup>
            <version>1.0.1</version>
        </Magentoguys_Dailybackup>
    </modules>
    
	<global>
        <helpers>
            <dailybackup>
                <class>Magentoguys_Dailybackup_Helper</class>
            </dailybackup>
        </helpers>
	</global>
	
	<crontab>
       <jobs>
            <magentoguys_dailybackup_backup>
                <schedule>
                    <cron_expr>* 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dailybackup/observer::backup</model>
                </run>
            </magentoguys_dailybackup_backup>
        </jobs>
	</crontab>
</config>
