<?xml version="1.0"?>
  <config>
     <modules>
           <Magentoguys_Ajaxlogin>
                 <version>0.1.1</version>
           </Magentoguys_Ajaxlogin>
      </modules>
	 <global>
           <!-- <rewrite>
		    <magentoguys_ajaxlogin>
                              <from><![CDATA[#^/customer/account/#]]></from>
                               <to><![CDATA[/customlogin/account/]]></to>
            </magentoguys_ajaxlogin>
		 </rewrite> -->
		 <helpers>
			<ajaxlogin>
				<class>Magentoguys_Ajaxlogin_Helper</class>
			</ajaxlogin>
		</helpers>
		<models>
            <ajaxlogin>
                <class>Magentoguys_Ajaxlogin_Model</class>
            </ajaxlogin>   
        </models>		
	 </global>
    <frontend>
        <routers>
            <magentoguys_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>Magentoguys_Ajaxlogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </magentoguys_ajaxlogin>
			
        </routers>
		<layout>
            <updates>
                <ajaxlogin>
                    <file>ajaxlogin.xml</file>
                </ajaxlogin>
            </updates>
        </layout>
    </frontend>
    <!--<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxlogin_options>
                                            <title>Magentoguys Ajax Login</title>
                                        </ajaxlogin_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>-->
 </config>