<?xml version="1.0"?>
<config>
    <modules>
        <Magentoguys_Checkoutc>
            <version>1.0.1</version>
        </Magentoguys_Checkoutc>
    </modules>
    <frontend>
		<routers>
			<checkout>
				<args>
					<modules>
						<magentoguys_checkoutc before="Mage_Checkout">Magentoguys_Checkoutc</magentoguys_checkoutc>
					</modules>
				</args>
			</checkout>
			<checkoutc>
                <use>standard</use>
                <args>
                    <module>Magentoguys_Checkoutc</module>
                    <frontName>checkoutc</frontName>
                </args>
            </checkoutc>
		</routers>
		<translate>
            <modules>
                <Magentoguys_Checkoutc>
                    <files>
                        <default>Magentoguys_Checkoutc.csv</default>
                    </files>
                </Magentoguys_Checkoutc>
            </modules>
        </translate>
		<layout>
            <updates>
                <checkoutc>
                    <file>checkoutc.xml</file>
                </checkoutc>
            </updates>
        </layout>
	</frontend>
	<admin>
        <routers>
			<checkoutc>
				<use>admin</use>
				<args>
					<module>Magentoguys_Checkoutc</module>
					<frontName>checkoutc</frontName>
				</args>
			</checkoutc>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<checkoutc>
					<file>checkoutc.xml</file>
				</checkoutc>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magentoguys_Checkoutc>
                    <files>
                        <default>Magentoguys_Checkoutc.csv</default>
                    </files>
                </Magentoguys_Checkoutc>
            </modules>
        </translate>
    </adminhtml> 
	<global>
		<blocks>
			<checkoutc>
                <class>Magentoguys_Checkoutc_Block</class>
            </checkoutc>
			<checkout>
				<rewrite>
					<onepage_billing>Magentoguys_Checkoutc_Block_Onepage_Billing</onepage_billing>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<checkoutc>
                <class>Magentoguys_Checkoutc_Model</class>
                <resourceModel>checkoutc_mysql4</resourceModel>
            </checkoutc>
            <checkoutc_mysql4>
                <class>Magentoguys_Checkoutc_Model_Mysql4</class>
                <entities>
                    <checkoutc_quote>
                        <table>checkoutc_quote_custom</table>
                    </checkoutc_quote>
					<checkoutc_order>
                        <table>checkoutc_order_custom</table>
                    </checkoutc_order>
                </entities>
            </checkoutc_mysql4>
			<sales>
				<rewrite>
					<service_quote>Magentoguys_Checkoutc_Model_Sales_Service_Quote</service_quote>
				</rewrite>
			</sales>
			<sales>
				<rewrite>
					<order>Magentoguys_Checkoutc_Model_Sales_Order</order>
				</rewrite>
			</sales>
			<sales>
				<rewrite>
					<order_invoice>Magentoguys_Checkoutc_Model_Sales_Order_Invoice</order_invoice>
				</rewrite>
			</sales>
		</models>
		<resources>
            <checkoutc_setup>
                <setup>
                    <module>Magentoguys_Checkoutc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </checkoutc_setup>
            <checkoutc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkoutc_write>
            <checkoutc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkoutc_read>
        </resources>
		<events>
			<sales_quote_save_before> 
				<observers>
				   <save_before>
						<type>singleton</type>
						<class>Magentoguys_Checkoutc_Model_Observer</class> 
						<method>saveQuoteBefore</method> 
					</save_before>
				</observers>
			</sales_quote_save_before>
			<sales_quote_save_after> 
				<observers>
					<save_after>
						<type>singleton</type>
						<class>Magentoguys_Checkoutc_Model_Observer</class>
						<method>saveQuoteAfter</method>
					</save_after>
				</observers>
			</sales_quote_save_after>
			<sales_quote_load_after> 
                <observers>
                    <load_after>
						<type>singleton</type>
						<class>Magentoguys_Checkoutc_Model_Observer</class> 
						<method>loadQuoteAfter</method> 
					</load_after>
				</observers>
			</sales_quote_load_after>
			<sales_model_service_quote_submit_after> 
                <observers>
                    <sales_model_service_quote_submit_after>
						<type>singleton</type>
						<class>Magentoguys_Checkoutc_Model_Observer</class> 
						<method>saveOrderAfter</method> 
					</sales_model_service_quote_submit_after>
				</observers>
			</sales_model_service_quote_submit_after>
			<sales_order_load_after> 
                <observers>
                    <sales_order_load_after>
						<type>singleton</type>
						<class>Magentoguys_Checkoutc_Model_Observer</class> 
						<method>loadOrderAfter</method> 
                     </sales_order_load_after>
				</observers>
			</sales_order_load_after>
		</events>
	</global>
</config>
