<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_DpsPro>
            <version>1.1.19</version>
        </Fooman_DpsPro>
    </modules>

    <global>
        <models>
            <foomandpspro>
                <class>Fooman_DpsPro_Model</class>
                <resourceModel>foomandpspro_mysql4</resourceModel>
            </foomandpspro>
            <foomandpspro_mysql4>
                <class>Fooman_DpsPro_Model_Mysql4</class>
                <entities>
                    <payment><table>foomandpspro_payment</table></payment>
                </entities>
            </foomandpspro_mysql4>
            <magebasedps>
                <rewrite>
                    <method_pxpay>Fooman_DpsPro_Model_Method_PxpayPro</method_pxpay>
                    <method_pxpost>Fooman_DpsPro_Model_Method_PxpostPro</method_pxpost>
                </rewrite>
            </magebasedps>
        </models>
        <helpers>
            <foomandpspro>
                <class>Fooman_DpsPro_Helper</class>
            </foomandpspro>
            <magebasedps>
                <rewrite>
                    <data>Fooman_DpsPro_Helper_Data</data>
                </rewrite>
            </magebasedps>
        </helpers>
        <blocks>
            <foomandpspro>
                <class>Fooman_DpsPro_Block</class>
            </foomandpspro>
        </blocks>
        <resources>
            <foomandpspro_setup>
                <setup>
                    <module>Fooman_DpsPro</module>
                    <class>Fooman_DpsPro_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </foomandpspro_setup>
            <foomandpspro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </foomandpspro_write>
            <foomandpspro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </foomandpspro_read>
        </resources>
        <payment>
            <cc>
                <types>
                    <VI>
                        <validator>
                            <foomandpspro>
                                <state>foomandpspro/method_webservice_validator_visa</state>
                            </foomandpspro>
                        </validator>
                    </VI>
                    <MC>
                        <validator>
                            <foomandpspro>
                                <state>foomandpspro/method_webservice_validator_mastercard</state>
                            </foomandpspro>
                        </validator>
                    </MC>
                </types>
            </cc>
        </payment>
        <template>
            <email>
                <payment_magebasedpspxpay_payment_email_template translate="label" module="foomandpspro">
                    <label>New Payment Received</label>
                    <file>fooman/dpspro/payment.html</file>
                    <type>html</type>
                </payment_magebasedpspxpay_payment_email_template>
                <fraud_detected translate="label" module="foomandpspro">
                    <label>Fraud detected</label>
                    <file>fooman/dpspro/fraud.html</file>
                    <type>html</type>
                </fraud_detected>
                <store_owner_fraud translate="label" module="foomandpspro">
                    <label>Fraud detected</label>
                    <file>fooman/dpspro/store_owner.html</file>
                    <type>html</type>
                </store_owner_fraud>
                <customer_fraud translate="label" module="foomandpspro">
                    <label>Fraud detected</label>
                    <file>fooman/dpspro/customer.html</file>
                    <type>html</type>
                </customer_fraud>
                <customer_approved translate="label" module="foomandpspro">
                    <label>Fraud detected</label>
                    <file>fooman/dpspro/customer_approved.html</file>
                    <type>html</type>
                </customer_approved>
                <customer_denied translate="label" module="foomandpspro">
                    <label>Fraud detected</label>
                    <file>fooman/dpspro/customer_denied.html</file>
                    <type>html</type>
                </customer_denied>
            </email>
        </template>
        <translate>
            <modules>
                <Fooman_DpsPro>
                    <files>
                        <default>Fooman_DpsPro.csv</default>
                    </files>
                </Fooman_DpsPro>
            </modules>
        </translate>
    </global>
    <frontend>
        <routers>
            <foomandpspro>
                <use>standard</use>
                <args>
                    <module>Fooman_DpsPro</module>
                    <frontName>foomandpspro</frontName>
                </args>
            </foomandpspro>
        </routers>
        <events>
            <payment_method_is_active>
                <observers>
                    <foomandpspro_payment_method_is_active>
                        <class>foomandpspro/observer</class>
                        <method>paymentMethodIsActive</method>
                    </foomandpspro_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <sales_model_service_quote_submit_before>
                <observers>
                    <foomandpspro_sales_model_service_quote_submit_before>
                        <class>foomandpspro/observer</class>
                        <method>salesModelServiceQuoteSubmitBefore</method>
                    </foomandpspro_sales_model_service_quote_submit_before>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <foomandpspro_sales_model_service_quote_submit_after>
                        <class>foomandpspro/observer</class>
                        <method>salesModelServiceQuoteSubmitAfter</method>
                    </foomandpspro_sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
        <layout>
            <updates>
                <foomandpspro>
                    <file>foomandpspro.xml</file>
                </foomandpspro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foomandpspro before="Mage_Adminhtml">Fooman_DpsPro_Adminhtml</foomandpspro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment_services>
            <foomandpspro>
                <maxmind_fraudthreshold>0</maxmind_fraudthreshold>
                <maxmind_orderthreshold>0</maxmind_orderthreshold>
                <maxmind_hide_payment_methods_on_fraud>0</maxmind_hide_payment_methods_on_fraud>
                <maxmind_hidethreshold>0</maxmind_hidethreshold>
                <order_status_suspected_fraud>fraud_dps</order_status_suspected_fraud>
                <maxmind_queries_left>unknown</maxmind_queries_left>
                <email_customer_on_fraud>0</email_customer_on_fraud>
            </foomandpspro>
        </payment_services>
        <payment>
            <foomandpsproweb>
                <active>0</active>
                <frontend_checkout>1</frontend_checkout>
                <postusername/>
                <postpassword/>
                <cctypes>VI,MC</cctypes>
                <model>foomandpspro/method_webservice</model>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <title>Credit Card (DPS Webservice - 3D secure enabled)</title>
                <secureactive>1</secureactive>
                <display_logos/>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <sort_order>1</sort_order>
                <debug>0</debug>
                <testmode>1</testmode>
            </foomandpsproweb>
            <foomandpsprofusion>
                <active>0</active>
                <frontend_checkout>1</frontend_checkout>
                <model>foomandpspro/method_pxFusion</model>
                <pxfusionuserid/>
                <pxfusionkey/>
                <cctypes>VI,MC</cctypes>
                <payment_action>authorize_capture</payment_action>
                <unpaid_order_status>pending_dps</unpaid_order_status>
                <order_status>processing</order_status>
                <title>Credit Card (DPS PxFusion)</title>
                <display_logos/>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <sort_order>1</sort_order>
                <debug>0</debug>
            </foomandpsprofusion>
            <magebasedpspxpay>
                <payment_email_template>payment_magebasedpspxpay_payment_email_template</payment_email_template>
                <payment_email_identity>general</payment_email_identity>
                <payment_action_suspected_fraud>authorize</payment_action_suspected_fraud>
            </magebasedpspxpay>
            <foomandpspropxpostrebill>
                <active>0</active>
                <frontend_checkout>1</frontend_checkout>
                <!--cctypes is not used by this method, it is however needed to be shown as available
                since its parent class includes Mage_Payment_Model_Method_Cc-->
                <cctypes>VI,MC</cctypes>
                <model>foomandpspro/method_pxpostProRebill</model>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <title>Credit Card (DPS PxPost/PxPay Rebill)</title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <sort_order>1214</sort_order>
                <debug>0</debug>
            </foomandpspropxpostrebill>
            <foomandpsprowebservicerebill>
                <active>0</active>
                <frontend_checkout>1</frontend_checkout>
                <!--cctypes is not used by this method, it is however needed to be shown as available
                since its parent class includes Mage_Payment_Model_Method_Cc-->
                <cctypes>VI,MC</cctypes>
                <model>foomandpspro/method_webserviceRebill</model>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <title>Credit Card (DPS Webservice Rebill)</title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <sort_order>1214</sort_order>
                <debug>0</debug>
            </foomandpsprowebservicerebill>
        </payment>
    </default>
    <crontab>
        <jobs>
            <check_billing_agreements>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>foomandpspro/cron::checkExpiredBillingAgreements</model></run>
            </check_billing_agreements>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Fooman_DpsPro />
            </modules>
        </suite>
    </phpunit>
</config>
