<?xml version="1.0"?>

<config>
  <modules>
    <MVentory_ProductFeed>
      <version>1</version>
    </MVentory_ProductFeed>
  </modules>

  <global>
    <helpers>
      <productfeed>
        <class>MVentory_ProductFeed_Helper</class>
      </productfeed>
    </helpers>

    <models>
      <productfeed>
        <class>MVentory_ProductFeed_Model</class>
        <resourceModel>productfeed_resource</resourceModel>
      </productfeed>

      <productfeed_resource>
        <class>MVentory_ProductFeed_Model_Resource</class>
      </productfeed_resource>
    </models>

    <resources>
      <productfeed_setup>
        <setup>
          <module>MVentory_ProductFeed</module>
          <class>MVentory_ProductFeed_Model_Resource_Setup</class>
        </setup>
      </productfeed_setup>
    </resources>
  </global>

  <crontab>
    <jobs>
      <mventory_productfeed_generation>
        <schedule>
          <cron_expr>0 2 * * *</cron_expr>
        </schedule>
        <run>
          <model>productfeed/observer::generateFeeds</model>
        </run>
      </mventory_productfeed_generation>
    </jobs>
  </crontab>
</config>
