/*@td-stencil: 'Allerta Stencil', sans-serif;*/.productcode {
  float: right;
  background-color: #CC;
  color: #FFF;
  padding: 0px 2px;
  text-transform: uppercase;
  font-size: 10px;
}
.productcode a {
  color: #F00;
}
.item-content {
  padding-left: 4px;
}
.product-sku {
  background-color: #ffffd4;
  padding: 2px 4px;
  margin-bottom: 20px;
  display: inline;
  font-size: 10px;
}
.item-des {
  text-align: left;
  font-size: 1em;
  padding: 0px 4px;
  letter-spacing: -0.01em;
}
.item-title {
  text-align: left;
  padding-left: 4px;
  padding: 0px 8px;
}
.item-title a {
  color: #0495d7;
  font-size: 1.2em;
}
.products-grid .item .item-inner .btn-cart {
  background: #ffb400 !important;
}
.products-grid .item .item-inner .link-compare {
  background: #0495d7 !important;
}
.products-grid .item .item-inner .link-wishlist {
  background: #ec1c24 !important;
}
.banner:hover:before {
  background: rgba(255, 255, 255, 0.2) !important;
}
#sns_menu {
  background-image: none;
  background-color: #0495d7;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/blueprint-grid-white.png) !important;
  height: 128px;
}
#sns_menu.keep-menu {
  height: 58px;
  background-color: #0495d7 !important;
}
#sns_header_top {
  background-color: #025073 !important;
}
#sns_wraper_footer {
  background-size: auto !important;
  background-color: #0495d7;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/blueprint-grid-white.png) !important;
}
#sns_wraper_footer a {
  color: #78d3fc !important;
}
#sns_wraper_footer .sns-social ul li .fa {
  color: #78d3fc !important;
}
.item-inner {
  background-color: white;
}
.block_border {
  background-color: white;
}
/*CHANGES THE LOOK OF THE GRADIENT GRID/LIST VIEW BUTTONS*/
.toolbar .view-mode strong {
  background-color: #0495d7;
  background-image: none !important;
}
/*MENU CUSTOMISATION*/
#sns_custommenu ul.mainnav li.level0 a {
  color: #dcf3fe !important;
}
#sns_custommenu ul.mainnav li.level0.active a {
  color: white !important;
  font-weight: normal !important;
}
#sns_custommenu ul.mainnav li.level0:hover a {
  color: white !important;
  border: 1px solid white !important;
}
#sns_custommenu ul.mainnav li.level0 .wrap_dropdown a {
  color: #0372a5 !important;
}
#sns_custommenu ul.mainnav li.level0 .wrap_dropdown a:hover {
  color: #025073 !important;
}
#sns_custommenu ul.mainnav li.level0 div.wrap_submenu ul.level0 > li a {
  color: red !important;
}
#sns_custommenu ul.mainnav li.level1.active a {
  color: #0495d7 !important;
}
#sns_custommenu ul.mainnav li .wrap_dropdown ul.mainnav li.level0:hover a {
  color: #0495d7 !important;
}
#sns_custommenu ul.mainnav li .wrap_dropdown ul.mainnav li.level0:hover a:hover {
  color: #025073 !important;
}
/*#sns_menu.keep-menu {
	background-color: darken(@td-blue, 20%) !important;
}*/
.go.gfont {
  padding: 4px 6px !important;
}
/*SEARCH BOX CUSTOMISATION*/
.block_topsearch .form-search input {
  border: 1px solid #FFF !important;
  color: white;
}
.block_topsearch .form-search input:focus {
  background-color: #025073 !important;
}
.block_topsearch .form-search button {
  color: #FFF !important;
}
.sns-revolutionslider {
  background-color: #ec1c24;
}
/*MAKE LESS PADDING SO THE NARROW BY SLIDER FITS ON ONE LINE*/
#sns_content .block.block-layered-nav dl#narrow-by-list dd {
  margin: 0;
  padding: 5px 14px 14px !important;
}
#sns_content .block.block-layered-nav dl#narrow-by-list dd .price .text-box input[type="text"] {
  width: 46px !important;
}
/*MAKE THE PRODUCT GRID VIEW ITEMS HAVE SOME SPACE AFTER THEM.*/
.sns-producttabs .sns-pdt-container .sns-pdt-content .pdt-content .products-grid .item {
  margin-bottom: 64px !important;
}
/*GIVE SOME PADDING SO THE PRODUCT DESCRIPTION DOES NOT OVERLAY THE IMAGE*/
/*.products-grid .item .item-inner .item-img {
	padding-bottom: 130px;
}
*/
/*.products-grid .item {
vertical-align: middle;
padding-bottom: 50px !important;
}*/
/*.products-grid .item .item-inner {
overflow: hidden;
position: relative;
-webkit-transition: all 1.5s ease;
transition: all 1.5s ease;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}*/
/*.products-grid .item .item-inner {
border: 1px solid rgba(202, 202, 202, 0.38);
overflow: hidden;
position: relative;
-webkit-transition: all 1.5s ease;
transition: all 1.5s ease;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}*/
.item-inner {
  height: 280px !important;
  border: 1px solid #E5E5E5 !important;
  padding: 6px;
  background-color: white !important;
}
.sns-revolutionslider {
  background-color: #ec1c24;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/td-logo-tile-bw.png) !important;
  background-repeat: repeat;
}
.grass-bg {
  background-color: #669900;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/grass.jpg) !important;
  background-repeat: repeat;
}
.dark-bg {
  background-color: #011620;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/dark.jpg) !important;
  background-repeat: no-repeat;
  background-position: bottom center;
}
